*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App-section{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 30px;
}

.App-title{
    text-align:center;
    padding: 10px;
}

/*sidebar*/
.sidebar{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    margin-right: 30px;
    align-items: center;

}

.sidebar-link{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor:pointer;
    padding: 10px 20px;
}
