.title{
  margin-bottom: 20px;
}

/* .toggle{
    position: relative;
    display: block;
    width: 80px;
    height: 34px;
    border: 1px solid black;
    border-radius: 20px;
}

input {
  display: none;
}

.toggle input[type="checked"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(215, 215, 215);
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: black;
  }


  
  input:checked + .slider:before {
    transform: translateX(45px);
    background-color: pink;
  } */
.darkmode-article{
  display: flex;
  flex-direction: colmun;
  align-items: center;
}
.darkmode-title{
  font-weight: bolder;
  font-size: 1.5rem;
  border-bottom: 1px solid gray;
  width: 100%;
  text-align:center;
  padding: 10px;
}

.darkmode-content{
  color: gray;
  width: 100%;
  text-align:center;
  padding: 5px;
}

.darkmode-circle{
  display: block;
  position: relative;
  left: 46%;
  width: 50px;
  height: 50px;
  border-radius:50%;
  background-color: black;
}