.switch{
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked + .switch{
    background-color: white;
}
input[type="checkbox"]:checked + .slider{
    background-color: black;
}

input[type="checkbox"]:checked + .slider{
    transform:translateX(50px);
}

.slider{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius:50%;
    background-color: #fff;
    top: 3px;
    left: 3px;
    transition:transform 0.2s ease;
}
